{% extends 'main.html' %}

{% block content %}


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Redefinição de senha enviada</h3>
            <br>
            <p>Enviamos por e-mail instruções para definir sua senha, se existir uma conta com o e-mail que você
                digitou. Você deve recebê-los em breve. </p>
            <br>
            <p>Se você não receber um e-mail, certifique-se de inserir o endereço com o qual se registrou e verifique
                sua pasta de spam.</p>
            <br>
        </div>
    </div>
</main>

{% endblock content %}